<!doctype html><title>WASK (A WSGI Stats Middleware)</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="/static/style.css">
<style type=text/css>
    h1 {
        margin: 0 0 30px 0;
    }
    
    h1 span, p.tagline {
        display: none;
    }
</style>
<div class=box>
    <blockquote>
        <h2>Welcome to Waskr</h2>
        Login to access your stats:
        <table>
            <h4>
                <form method='POST' action='/login'>
                    Password:<input type="text" name="password" size="15" maxlength="25">
                    <button name="submit">
                        Go >>
                    </button>
                </form>
            </h4>
        </table>
    </blockquote>
</div>
